{% extends 'base.html.twig' %}

{% block title %} Symfony React Application State MobX {% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="#" class="navbar-brand"> Symfony React Application State MobX </a>
    </nav>

    <div class="container">
        <div id="root"></div>
    </div>
{% endblock %}
